{
    "tabWidth": 4,
    "printWidth": 120,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "proseWrap": "never",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss"]
}
